@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Pokedex</h1>
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Pikachu">
        <input type="button" class="btn btn-primary" value="Search">
    </div>
    <input type="button" class="btn btn-primary" value="Browse">
    <input type="button" class="btn btn-primary" value="Random">

    <form method="post" asp-action="InsertBaseCSV">
        <button type="submit" class="btn btn-primary">do It</button>
    </form>
</div>
